html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  line-height: 1.2;
  font-size: 1.5rem;
  color: white;
  box-sizing: border-box;
  cursor: default;

  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

body * {
  box-sizing: inherit;
}

main section {
  float: left;
  padding-top: 5rem;
  border-top: solid .5rem rgba(0,0,0,.5);
  position: relative;
  height: 40vh;
  width: calc(100vw / 4);
  background: #aa66aa;
  overflow: auto;
}

main section header {
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 5rem;
  height: 5rem;
  background: rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}

main section header[data-emoji]::before {
  content: attr(data-emoji);
  font-size: 3rem;
  margin-right: 1rem;
  vertical-align: middle;
}

main section .list {
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

main section.done .list {
  bottom: 4rem;
}

main section button {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: rgba(0,0,0,.1);
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  font-size: inherit;
  line-height: 4rem;
  height: 4rem;
  cursor: pointer;
  outline: 0;
  z-index: 2;
}

main section button:hover {
  background: rgba(0,0,0,.2);
}

main section.day {
  width: calc(100vw / 7);
  height: 60vh;
  background: #77aaff;
  border-top: none;
}

main section.today {
  background: #6699ee;
}

main section.backlog {
  background: #995599;
}

main section .list::after {
  display: none;
  position: absolute;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  bottom: 0;
  text-align: center;
  opacity: .5;
}

main section .list:empty::after {
  display: block;
}

main section.done .list::after {
  content: 'Drag items here when you\'re done with them, then clear the list periodically.';
}

main section.whenever .list::after {
  content: 'Move items here that don\'t have a suitable due date.';
}

main section.overdue .list::after {
  content: 'Items will show up here if they aren\'t completed in time. If this list is always empty, you\'re doing it right.';
}

main section.backlog .list::after {
  content: 'Double-click to create a new item, then drag it to an appropriate list. Double-click an item again to edit.';
}

main .item {
  background: rgba(0,0,0,.2);
  padding: .5rem 1rem .5rem .5rem;
  border-left: solid .5rem transparent;
  outline: 0;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

main section.done .item {
  text-decoration: line-through;
}

main .item + .item { background: rgba(0,0,0,.25); }
main .item + .item + .item { background: rgba(0,0,0,.3); }
main .item + .item + .item + .item { background: rgba(0,0,0,.35); }
main .item + .item + .item + .item + .item { background: rgba(0,0,0,.4); }
main .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.45); }
main .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.5); }
main .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.55); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.6); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.65); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.7); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.75); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.8); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.85); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.9); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.95); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,1); }

main .item:not([contenteditable="true"]) {
  cursor: -webkit-grab;
  cursor: grab;
}

main .item.gu-mirror {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

main .item.gu-mirror,
main .item:hover {
  border-color: rgba(255,255,255,.5);
}

main .item[contenteditable="true"] {
  border-color: yellow;
  cursor: text;
}

/* Dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}
