@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1.2;
  font-size: 1.5rem;
  color: white;
  box-sizing: border-box;
  cursor: default;
  min-height: calc(5rem * 8);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body * {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

pre,
code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

button {
  border-radius: 0;
  border: none;
  text-align: center;
  color: inherit;
  font-size: inherit;
  outline: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

aside {
  position: fixed;
  width: auto;
  z-index: 1;
  background: hsla(0,0%,0%,.66);
  padding: .5rem 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

aside::before {
  content: 'Filtered: ';
  text-transform: uppercase;
  font-weight: normal;
}

aside:empty {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0,0,0,.9);
  display: none;
}

.modal[data-active^="#"] {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal section {
  display: none;
  flex: 0 1 auto;
}

.modal section .close {
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  line-height: 2rem;
}

.modal section .close::after {
  content: '╳';
}

.modal section .profile {
  height: 10rem;
  width: 10rem;
  line-height: 10rem;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,.5);
  border: solid .5rem white;
  border-radius: 50%;
  overflow: hidden;
}

.modal section .profile[style] {
  color: transparent;
  text-indent: 10rem;
  background-color: white;
}

.modal section button {
  text-transform: uppercase;
  line-height: 4rem;
  height: 4rem;
  width: 10rem;
  cursor: pointer;
  margin-top: 3rem;
  background: #77aaff;
}

.modal[data-active="#loading"] section[data-id="loading"],
.modal[data-active="#providers"] section[data-id="providers"],
.modal[data-active="#settings"] section[data-id="settings"] {
  display: block;
}

.modal section[data-id="providers"] {
  text-align: center;
}

.modal section[data-id="providers"] a.provider {
  display: inline-block;
  margin: 2.5rem;
  cursor: pointer;
  position: relative;
}

.modal section[data-id="providers"] a.provider img {
  height: 10rem;
  width: 10rem;
}

.loading {
  font-size: 3rem;
  animation: clockwise 1.5s linear infinite;
  display: block;
  height: 2em;
  position: relative;
  width: 2em;
}

.loading,
.loading:before,
.loading:after {
  border: .2em solid transparent;
  border-radius: 50%;
  border-top-color: #77aaff;
  margin: auto;
}

.loading:before,
.loading:after {
  content: '';
  position: absolute;
}

.loading:before {
  animation: anticlockwise .9s linear infinite;
  top: -.6em;
  right: -.6em;
  bottom: -.6em;
  left: -.6em;
}

.loading:after {
  animation: anticlockwise .66s linear infinite;
  top: .3em;
  right: .3em;
  bottom: .3em;
  left: .3em;
}

@keyframes clockwise {
  0%  { transform: rotate(0deg) }
  100%{ transform: rotate(360deg) }
}

@keyframes anticlockwise {
  0%  { transform: rotate(360deg) }
  100%{ transform: rotate(0deg) }
}

main {
  height: 100%;
  background: #77aaff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

main section {
  position: relative;
  height: 50%;
  width: 25%;
  overflow: auto;
  background: transparent;
  flex: 0 1 auto;
}

main section.today { order: 1; }
main section.tomorrow { order: 2; }
main section.day-after-tomorrow { order: 3; }
main section.overdue { order: 4; }
main section.week { order: 5; }
main section.month { order: 6; }
main section.backlog { order: 7; }
main section.done { order: 8; }

main section header {
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 5rem;
  height: 5rem;
  background: rgba(0,0,0,.1);
  border-bottom: solid .25rem rgba(0,0,0,.05);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}

main section header[data-emoji]::before {
  content: attr(data-emoji);
  font-size: 3rem;
  margin-right: 1rem;
  vertical-align: middle;
  position: absolute;
  transform: translate(calc(-100% - .5rem), -50%);
  top: 50%;
}

main section.over header {
  border-color: yellow;
}

main section .list {
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

main section.done .list {
  bottom: 4rem;
}

main section button.back {
  display: none;
}

main section button.back::before {
  content: '⌃';
}

main section button.clear {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #66aa66;
  box-shadow: inset 0 0 0 4rem  rgba(0,0,0,.1);
  text-transform: uppercase;
  line-height: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 2;
}

main:not(.is-touch-device) section button.clear:hover {
  box-shadow: inset 0 0 0 4rem rgba(255,255,255,.1);
}

main section .settings {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  padding: .2rem;
  border-radius: 50%;
}

main section .settings::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: auto;
  border-radius: 50%;
  z-index: 0;
  border: solid .4rem white;
}

main[data-syncing] section .settings::before {
  border-color: transparent;
  border-top-color: white;
  border-right-color: white;
  animation: spin .75s infinite linear;
}

main section .settings > * {
  height: 100%;
  width: 100%;
  line-height: inherit;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

main section .settings > *[style] {
  color: transparent;
  text-indent: 3rem;
  background-color: white;
}

main section.today,
main section.backlog {
  background: rgba(0,0,0,.1);
}

main section.overdue {
  background: #ca7449;
}

main section.done {
  background: #66aa66;
}

main section.week,
main section.month,
main section.backlog,
main section.done {
  border-top: solid .5rem rgba(0,0,0,.5);
}

main section.overdue,
main section.done {
  border-left: solid .5rem rgba(0,0,0,.5);
}

main section .list::after {
  display: none;
  position: absolute;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  bottom: 0;
  text-align: center;
  opacity: .5;
}

main section .list:empty::after {
  display: block;
}

main section.today .list::after {
  content: 'No items for ' attr(data-day) ' yet. Double-click/tap to create a new item. Items will be moved to Overdue if not completed by tomorrow.';
}

main section.tomorrow .list::after,
main section.day-after-tomorrow .list::after {
  content: 'No items for ' attr(data-day) ' yet. Double-click/tap to create a new item.';
}

main section.week .list::after {
  content: 'Items that you intend to complete this week, ' attr(data-dates) '. Items will move to Overdue if not completed by next week.';
}

main section.month .list::after {
  content: 'Items that you intend to complete in the month of ' attr(data-date) '. Items will move to Overdue if not completed by next month.';
}

main section.backlog .list::after {
  content: 'Double-click/tap to create a new item, then drag it to an appropriate list. Double-click/tap an item again to edit.';
}

main section.done .list::after {
  content: 'Drag items here when you\'re done with them, then clear the list periodically.';
}

main section.overdue .list::after {
  content: 'Items will show up here if they aren\'t completed in time. If this list is always empty, you\'re doing it right.';
}

main .item {
  padding: 0 1rem 0 .5rem;
  border-left: solid .5rem transparent;
  outline: 0;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

main .item:not([contenteditable="true"]):empty {
  display: none;
}

main .item code,
main .item pre {
  color: cyan;
}

main section.done .item:not([contenteditable="true"]) {
  text-decoration: line-through;
}

main .item { background: rgba(0,0,0,.05); }
main .item + .item { background: rgba(0,0,0,.1); }
main .item + .item + .item { background: rgba(0,0,0,.15); }
main .item + .item + .item + .item { background: rgba(0,0,0,.2); }
main .item + .item + .item + .item + .item { background: rgba(0,0,0,.25); }
main .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.3); }
main .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.35); }
main .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.4); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.45); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.5); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.55); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.6); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.65); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.7); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.75); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.8); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.85); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.9); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,.95); }
main .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item + .item { background: rgba(0,0,0,1); }

main .item:not([contenteditable="true"]) {
  cursor: -webkit-grab;
  cursor: grab;
}

main .item.gu-mirror {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

main .item.gu-mirror,
main .item.gu-transit,
main:not(.is-touch-device) .item:focus,
main:not(.is-touch-device) .item:hover {
  border-color: rgba(255,255,255,.5);
}

main:not(.is-touch-device) .item:focus {
  border-color: white;
}

main .item[contenteditable="true"] {
  border-color: yellow;
  cursor: text;
  padding-top: .5rem;
  padding-bottom: .5rem;

  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

main .item p,
main .item pre,
main .item blockquote,
main .item ul,
main .item ol {
  padding: .5rem 0;
  margin: 0;
}

main .item blockquote {
  padding-left: 1.5rem;
  border-left: solid .5rem rgba(255,255,255,.25);
}

main .item ul,
main .item ol {
  padding-left: 2rem;
}

main .item a {
  color: yellow;
}

main .item.gu-transit {
  opacity: .2;
}

main .item.gu-mirror {
  /*transform: scale(1.1);*/
  /*transform-origin: 0 0;*/
  opacity: .8;
}

main .item.gu-mirror {
  background: #77aaff;
}

main .item.gu-mirror[data-section-type="overdue"] {
  background: #ca7449;
}

main .item.gu-mirror[data-section-type="done"] {
  background: #66aa66;
}

/* Tablets */

@media (max-width: 1024px), (max-height: 512px) {

  html {
    font-size: 70%;
  }

  main {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  main section {
    position: static;
    height: 12.5%;
    width: 50%;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    order: 1 !important;
  }

  main section.overdue,
  main section.week,
  main section.month,
  main section.backlog,
  main section.done {
    border: none;
  }

  main section.today { background: transparent; }
  main section.tomorrow { background: rgba(0,0,0,.05); }
  main section.day-after-tomorrow { background: rgba(0,0,0,.1); }
  main section.week { background: rgba(0,0,0,.15); }
  main section.month { background: rgba(0,0,0,.2); }
  main section.backlog { background: rgba(0,0,0,.25); }

  main section header {
    position: relative;
    height: auto;
    flex: 1 0 auto;
    background: transparent;
    border-bottom: none;
    border-right: solid .5rem rgba(0,0,0,.5);
    box-shadow: inset 0 -.25rem 0 0 rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main section header::after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: solid 1rem transparent;
    border-right: solid 1rem rgba(0,0,0,.5);
    border-left: 0;
  }

  main[data-active=""] section:first-of-type header::after,
  main[data-active="#today"] section[data-section-id="today"] header::after,
  main[data-active="#tomorrow"] section[data-section-id="tomorrow"] header::after,
  main[data-active="#day-after-tomorrow"] section[data-section-id="day-after-tomorrow"] header::after,
  main[data-active="#week"] section[data-section-id="week"] header::after,
  main[data-active="#month"] section[data-section-id="month"] header::after,
  main[data-active="#backlog"] section[data-section-id="backlog"] header::after,
  main[data-active="#overdue"] section[data-section-id="overdue"] header::after,
  main[data-active="#done"] section[data-section-id="done"] header::after {
    display: block;
  }

  main section.overdue header {
    box-shadow: inset 0 -.25rem 0 0 rgba(0,0,0,.25);
  }

  main section.done header {
    box-shadow: none;
  }

  main section .list {
    position: absolute;
    display: none;
    background: inherit;
    left: 50%;
    top: 0;
    right: 0;
    bottom: auto;
    height: 100%;
    min-height: calc(5rem * 8);
  }

  main[data-active=""] section:first-of-type .list,
  main[data-active="#today"] section[data-section-id="today"] .list,
  main[data-active="#tomorrow"] section[data-section-id="tomorrow"] .list,
  main[data-active="#day-after-tomorrow"] section[data-section-id="day-after-tomorrow"] .list,
  main[data-active="#week"] section[data-section-id="week"] .list,
  main[data-active="#month"] section[data-section-id="month"] .list,
  main[data-active="#backlog"] section[data-section-id="backlog"] .list,
  main[data-active="#overdue"] section[data-section-id="overdue"] .list,
  main[data-active="#done"] section[data-section-id="done"] .list {
    display: block;
  }

  main section.done .list {
    bottom: 0;
  }

  main section button.clear {
    position: fixed;
    display: none;
    left: 50vw;
    right: 0;
    bottom: 0;
    width: 50vw;
    line-height: 6rem;
    height: 6rem;
  }

  main section.over header::after {
    border-right-color: yellow !important;
  }

  main[data-active=""] section:first-of-type button.clear,
  main[data-active="#today"] section[data-section-id="today"] button.clear,
  main[data-active="#tomorrow"] section[data-section-id="tomorrow"] button.clear,
  main[data-active="#day-after-tomorrow"] section[data-section-id="day-after-tomorrow"] button.clear,
  main[data-active="#week"] section[data-section-id="week"] button.clear,
  main[data-active="#month"] section[data-section-id="month"] button.clear,
  main[data-active="#backlog"] section[data-section-id="backlog"] button.clear,
  main[data-active="#overdue"] section[data-section-id="overdue"] button.clear,
  main[data-active="#done"] section[data-section-id="done"] button.clear {
    display: block;
  }

  main .item {
    padding: 1rem 2rem 1rem 1.5rem;
  }

  main .item[contenteditable="true"] {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}

/* Mobile */

@media (max-width: 512px) {

  main section {
    width: 100%;
  }

  main section header {
    border: none;
  }

  main section header::after {
    display: none !important;
  }

  main section .settings {
    left: auto;
    right: 1.5rem;
  }

  main[data-active^="#"] section .settings {
    display: none;
  }

  main section button.clear {
    display: none;
    left: 0;
  }

  main[data-active^="#"] section {
    display: none;
    height: 100%;
  }

  main[data-active^="#"] section header {
    box-shadow: none;
    display: block;
    background: rgba(0,0,0,.1);
    border-bottom: solid .5rem rgba(0,0,0,.25);
  }

  main[data-active="#today"] section[data-section-id="today"],
  main[data-active="#tomorrow"] section[data-section-id="tomorrow"],
  main[data-active="#day-after-tomorrow"] section[data-section-id="day-after-tomorrow"],
  main[data-active="#week"] section[data-section-id="week"],
  main[data-active="#month"] section[data-section-id="month"],
  main[data-active="#backlog"] section[data-section-id="backlog"],
  main[data-active="#overdue"] section[data-section-id="overdue"],
  main[data-active="#done"] section[data-section-id="done"] {
    display: block;
  }

  main[data-active^="#"] section .list {
    background: transparent;
    top: 5.5rem;
    left: 0;
    bottom: 0;
    min-height: 0;
    max-height: calc(100% - 5.5rem);
  }

  main[data-active^="#"] section .list::before {
    content: '';
    display: block;
  }

  main[data-active^="#"] section button.clear {
    display: block;
    width: 100%;
  }

  main[data-active^="#"] section button.back {
    display: block;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 3rem;
    transform: translateY(-50%) rotate(-90deg);
  }

  main[data-active=""] section:first-of-type .list {
    display: none;
  }

}

/* Dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
